  /*
  This file contains the generic styles for the page
  */

  @import "import.less";

  .container-fluid {
    padding: 0;
    color: @color-white;
  }

  a{
    color: @color-yellow;
  }

  div {
    .min-height();
  }