/*
 This file contains the styling used in the the page
*/
.container {
    margin: 0 auto;
}

table {
    text-align: left;
}

th {
    cursor: pointer;
}

input[type="button"]{
    width: 25%;
    float: left;
    margin-right: 20%;
}

.select-boxes{
    margin-bottom: 5%;
}